---
import User from "./icons/User.astro";
---

<section class="section" id="sobre-mi">
    <h1 class="about-title">
        <User class="w-10 h-10" />Sobre m칤
    </h1>
    <p>
        游눹 Hola, soy Lionel Erix, un apasionado del desarrollo web con formaci칩n
        en Computaci칩n e Informaci칩n gracias a PRONABEC. Mi inter칠s por la
        tecnolog칤a comenz칩 de manera autodidacta, explorando diversas
        herramientas y metodolog칤as. A lo largo de mi formaci칩n, he trabajado en
        proyectos personales y acad칠micos, aplicando buenas pr치cticas de
        desarrollo y utilizando metodolog칤as 치giles como Scrum para optimizar la
        gesti칩n del trabajo.
    </p>
    <br />
    <p>
        游 Tengo experiencia en el desarrollo de aplicaciones web utilizando
        tecnolog칤as como Java, Spring Boot y frameworks modernos de frontend,
        priorizando la escalabilidad, el rendimiento y la seguridad. Me motiva
        analizar problemas complejos y dise침ar soluciones eficientes, combinando
        tecnolog칤a con estrategias 칩ptimas de desarrollo. Siempre estoy en
        b칰squeda de nuevos desaf칤os y oportunidades para seguir aprendiendo,
        mejorando mis habilidades y aplicando mis conocimientos en proyectos
        innovadores.
    </p>
</section>

<style>
    .section {
        color: white;
        width: 100%;
        max-width: 880px;
        margin-bottom: 5rem;

    }
    .about-title {
        font-size: 40px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    @media (min-width:390px) {
        .section{
            padding: 0 20px;
        }
    }
</style>
